# 01 Data Exploration

This notebook performs initial data exploration and quality assessment on the e-commerce datasets.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

## Load Data

In [2]:
processed_dir = Path("../processed")

amazon_sales = pd.read_parquet(processed_dir / "amazon_sales.parquet")
international_sales = pd.read_parquet(processed_dir / "international_sales.parquet")
inventory = pd.read_parquet(processed_dir / "inventory.parquet")
pricing_may2022 = pd.read_parquet(processed_dir / "pricing_may2022.parquet")
pricing_march2021 = pd.read_parquet(processed_dir / "pricing_march2021.parquet")
expenses = pd.read_parquet(processed_dir / "expenses.parquet")
warehouse_costs = pd.read_parquet(processed_dir / "warehouse_costs.parquet")

## Data Overview

In [3]:
data_overview = {
    "amazon_sales": amazon_sales,
    "international_sales": international_sales,
    "inventory": inventory,
    "pricing_may2022": pricing_may2022,
    "pricing_march2021": pricing_march2021,
    "expenses": expenses,
    "warehouse_costs": warehouse_costs
}

for name, df in data_overview.items():
    print(f"\n{'='*50}")
    print(f"Dataset: {name}")
    print(f"{'='*50}")
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print(f"\nData Types:\n{df.dtypes}")

==================================================
Dataset: amazon_sales
==================================================
Shape: (128975, 24)
Columns: ['index', 'Order ID', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'currency', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'fulfilled-by', 'Unnamed: 22', 'date', 'amount', 'qty', 'b2b']

Data Types:
index                          int64
Order ID                      object
Status                        object
Fulfilment                    object
Sales Channel                 object
ship-service-level            object
Style                         object
SKU                           object
Category                      object
Size                          object
ASIN                          object
Courier Status                object
currency                      object
ship-city                     object
ship-state                    object
ship-postal-code             float64
ship-country                  object
promotion-ids                 object
fulfilled-by                  object
Unnamed: 22                   object
date                  datetime64[us]
amount                       float64
qty                            int64
b2b                             bool
dtype: object

==================================================
Dataset: international_sales
==================================================
Shape: (37432, 10)
Columns: ['index', 'Months', 'CUSTOMER', 'Style', 'SKU', 'Size', 'date', 'rate', 'gross_amt', 'pcs']

Data Types:
index                 int64
Months               object
CUSTOMER             object
Style                object
SKU                  object
Size                 object
date         datetime64[us]
rate                float64
gross_amt           float64
pcs                 float64
dtype: object

==================================================
Dataset: inventory
==================================================
Shape: (9271, 7)
Columns: ['index', 'SKU Code', 'Design No.', 'Size', 'Color', 'category', 'stock']

Data Types:
index          int64
SKU Code      object
Design No.    object
Size          object
Color         object
category      object
stock          int64
dtype: object

==================================================
Dataset: pricing_may2022
==================================================
Shape: (1330, 17)
Columns: ['index', 'Sku', 'Style Id', 'Catalog', 'Category', 'MRP Old', 'Final MRP Old', 'Ajio MRP', 'Amazon MRP', 'Amazon FBA MRP', 'Flipkart MRP', 'Limeroad MRP', 'Myntra MRP', 'Paytm MRP', 'Snapdeal MRP', 'weight', 'tp']

Data Types:
index               int64
Sku                object
Style Id           object
Catalog            object
Category           object
MRP Old           float64
Final MRP Old     float64
Ajio MRP          float64
Amazon MRP        float64
Amazon FBA MRP    float64
Flipkart MRP      float64
Limeroad MRP      float64
Myntra MRP        float64
Paytm MRP         float64
Snapdeal MRP      float64
weight            float64
tp                float64
dtype: object

==================================================
Dataset: pricing_march2021
==================================================
Shape: (1330, 18)
Columns: ['index', 'Sku', 'Style Id', 'Catalog', 'Category', 'TP 2', 'MRP Old', 'Final MRP Old', 'Ajio MRP', 'Amazon MRP', 'Amazon FBA MRP', 'Flipkart MRP', 'Limeroad MRP', 'Myntra MRP', 'Paytm MRP', 'Snapdeal MRP', 'weight', 'tp']

Data Types:
index               int64
Sku                object
Style Id           object
Catalog            object
Category           object
TP 2               object
MRP Old           float64
Final MRP Old     float64
Ajio MRP          float64
Amazon MRP        float64
Amazon FBA MRP    float64
Flipkart MRP      float64
Limeroad MRP      float64
Myntra MRP        float64
Paytm MRP         float64
Snapdeal MRP      float64
weight            float64
tp                float64
dtype: object

==================================================
Dataset: expenses
==================================================
Shape: (17, 5)
Columns: ['index', 'Recived Amount', 'Unnamed: 1', 'Expance', 'Unnamed: 3']

Data Types:
index              int64
Recived Amount    object
Unnamed: 1        object
Expance           object
Unnamed: 3        object
dtype: object

==================================================
Dataset: warehouse_costs
==================================================
Shape: (50, 4)
Columns: ['index', 'Shiprocket', 'Unnamed: 1', 'INCREFF']

Data Types:
index          int64
Shiprocket    object
Unnamed: 1    object
INCREFF       object
dtype: object

## Basic Statistics

In [4]:
for name, df in data_overview.items():
    print(f"\n{'='*50}")
    print(f"Dataset: {name} - Statistics")
    print(f"{'='*50}")
    print(df.describe(include='all'))

==================================================
Dataset: amazon_sales - Statistics
==================================================
                index             Order ID   Status Fulfilment Sales Channel   \
count   128975.000000               128975   128975     128975         128975
unique            NaN               120378       13          2              2
top               NaN  403-4984515-8861958  Shipped     Amazon      Amazon.in
freq              NaN                   12    77804      89698         128851
mean     64487.000000                  NaN      NaN        NaN            NaN
min          0.000000                  NaN      NaN        NaN            NaN
25%      32243.500000                  NaN      NaN        NaN            NaN
50%      64487.000000                  NaN      NaN        NaN            NaN
75%      96730.500000                  NaN      NaN        NaN            NaN
max     128974.000000                  NaN      NaN        NaN            NaN
std      37232.019822                  NaN      NaN        NaN            NaN

       ship-service-level    Style           SKU Category    Size  ...  \
count              128975   128975        128975   128975  128975  ...
unique                  2     1377          7195        9      11  ...
top             Expedited  JNE3797  JNE3797-KR-L      Set       M  ...
freq                88615     4224           773    50284   22711  ...
mean                  NaN      NaN           NaN      NaN     NaN  ...
min                   NaN      NaN           NaN      NaN     NaN  ...
25%                   NaN      NaN           NaN      NaN     NaN  ...
50%                   NaN      NaN           NaN      NaN     NaN  ...
75%                   NaN      NaN           NaN      NaN     NaN  ...
max                   NaN      NaN           NaN      NaN     NaN  ...
std                   NaN      NaN           NaN      NaN     NaN  ...

         ship-state ship-postal-code ship-country  \
count        128942    128942.000000       128942
unique           69              NaN            1
top     MAHARASHTRA              NaN           IN
freq          22260              NaN       128942
mean            NaN    463966.236509          NaN
min             NaN    110001.000000          NaN
25%             NaN    382421.000000          NaN
50%             NaN    500033.000000          NaN
75%             NaN    600024.000000          NaN
max             NaN    989898.000000          NaN
std             NaN    191476.764941          NaN

                                       promotion-ids fulfilled-by  \
count                                          79822        39277
unique                                          5787            1
top     IN Core Free Shipping 2015/04/08 23-48-5-108    Easy Ship
freq                                           46100        39277
mean                                             NaN          NaN
min                                              NaN          NaN
25%                                              NaN          NaN
50%                                              NaN          NaN
75%                                              NaN          NaN
max                                              NaN          NaN
std                                              NaN          NaN

        Unnamed: 22                        date         amount            qty  \
count         79925                      128975  121180.000000  128975.000000
unique            1                         NaN            NaN            NaN
top           False                         NaN            NaN            NaN
freq          79925                         NaN            NaN            NaN
mean            NaN  2022-05-12 11:49:27.951929     648.561465       0.904431
min             NaN         2022-03-31 00:00:00       0.000000       0.000000
25%             NaN         2022-04-20 00:00:00     449.000000       1.000000
50%             NaN         2022-05-10 00:00:00     605.000000       1.000000
75%             NaN         2022-06-04 00:00:00     788.000000       1.000000
max             NaN         2022-06-29 00:00:00    5584.000000      15.000000
std             NaN                         NaN     281.211687       0.313354

           b2b
count   128975
unique       2
top      False
freq    128104
mean       NaN
min        NaN
25%        NaN
50%        NaN
75%        NaN
max        NaN
std        NaN

[11 rows x 24 columns]

==================================================
Dataset: international_sales - Statistics
==================================================
               index  Months CUSTOMER     Style       SKU   Size  \
count   37432.000000   37407    36392     36392     34958  36392
unique           NaN     571      172      1065      4598     36
top              NaN  Feb-22   Feb-22  SHIPPING  SHIPPING   1.00
freq             NaN    3380     3448       508       508  15300
mean    18715.500000     NaN      NaN       NaN       NaN    NaN
min         0.000000     NaN      NaN       NaN       NaN    NaN
25%      9357.750000     NaN      NaN       NaN       NaN    NaN
50%     18715.500000     NaN      NaN       NaN       NaN    NaN
75%     28073.250000     NaN      NaN       NaN       NaN    NaN
max     37431.000000     NaN      NaN       NaN       NaN    NaN
std     10805.831975     NaN      NaN       NaN       NaN    NaN

                              date          rate     gross_amt           pcs
count                        18635  36391.000000  36391.000000  36391.000000
unique                         NaN           NaN           NaN           NaN
top                            NaN           NaN           NaN           NaN
freq                           NaN           NaN           NaN           NaN
mean    2021-12-04 07:17:03.686611    830.343325    450.539946    402.218069
min            2021-06-05 00:00:00    100.000000      0.000000      1.000000
25%            2021-10-04 00:00:00    462.500000     11.000000      1.000000
50%            2021-11-29 00:00:00    646.000000    340.000000      5.000000
75%            2022-02-22 00:00:00    925.000000    681.000000    587.500000
max            2022-05-11 00:00:00  57400.000000   9745.000000  57400.000000
std                            NaN    960.089506    597.808652    956.320592

==================================================
Dataset: inventory - Statistics
==================================================
              index SKU Code Design No.  Size Color category        stock
count   9271.000000     9188       9235  9235  9226     9226  9271.000000
unique          NaN     9170       1594    11    62       21          NaN
top             NaN    #REF!      J0096     S  Blue    KURTA          NaN
freq            NaN       15         10  1353   782     3726          NaN
mean    4635.000000      NaN        NaN   NaN   NaN      NaN    26.144537
std     2676.451507      NaN        NaN   NaN   NaN      NaN    58.372091
min        0.000000      NaN        NaN   NaN   NaN      NaN     0.000000
25%     2317.500000      NaN        NaN   NaN   NaN      NaN     3.000000
50%     4635.000000      NaN        NaN   NaN   NaN      NaN     8.000000
75%     6952.500000      NaN        NaN   NaN   NaN      NaN    31.000000
max     9270.000000      NaN        NaN   NaN   NaN      NaN  1234.000000

==================================================
Dataset: pricing_may2022 - Statistics
==================================================
              index           Sku Style Id Catalog Category      MRP Old  \
count   1330.000000          1330     1330    1330     1330  1293.000000
unique          NaN          1330      254       9        5          NaN
top             NaN  Os206_3141_S    Os160     Mix    Kurta          NaN
freq            NaN             1        8     830      820          NaN
mean     664.500000           NaN      NaN     NaN      NaN  2207.972506
std      384.082239           NaN      NaN     NaN      NaN   701.393796
min        0.000000           NaN      NaN     NaN      NaN   199.000000
25%      332.250000           NaN      NaN     NaN      NaN  1778.000000
50%      664.500000           NaN      NaN     NaN      NaN  2038.000000
75%      996.750000           NaN      NaN     NaN      NaN  2378.000000
max     1329.000000           NaN      NaN     NaN      NaN  5997.000000

        Final MRP Old     Ajio MRP   Amazon MRP  Amazon FBA MRP  Flipkart MRP  \
count     1293.000000  1293.000000  1293.000000     1293.000000   1293.000000
unique            NaN          NaN          NaN             NaN           NaN
top               NaN          NaN          NaN             NaN           NaN
freq              NaN          NaN          NaN             NaN           NaN
mean      2235.176682  2241.264076  2247.789211     2247.789211   2243.120224
std        706.136802   707.907756   704.073990      704.073990    705.308168
min        199.000000   199.000000   199.000000      199.000000    199.000000
25%       1795.000000  1795.000000  1795.000000     1795.000000   1795.000000
50%       2095.000000  2095.000000  2097.000000     2097.000000   2097.000000
75%       2495.000000  2495.000000  2495.000000     2495.000000   2495.000000
max       5997.000000  5997.000000  5997.000000     5997.000000   5997.000000

        Limeroad MRP   Myntra MRP    Paytm MRP  Snapdeal MRP       weight  \
count    1293.000000  1299.000000  1293.000000   1293.000000  1257.000000
unique           NaN          NaN          NaN           NaN          NaN
top              NaN          NaN          NaN           NaN          NaN
freq             NaN          NaN          NaN           NaN          NaN
mean     2242.974826  2232.519207  2238.489134   2239.726566     0.327605
std       701.115822   693.160532   702.819619    703.017190     0.052121
min       199.000000   199.000000   199.000000    199.000000     0.200000
25%      1795.000000  1795.000000  1795.000000   1795.000000     0.300000
50%      2095.000000  2097.000000  2095.000000   2095.000000     0.300000
75%      2495.000000  2495.000000  2495.000000   2495.000000     0.400000
max      5997.000000  5997.000000  5997.000000   5997.000000     0.400000

                 tp
count   1324.000000
unique          NaN
top             NaN
freq            NaN
mean     580.088708
std      251.090756
min      100.000000
25%      415.000000
50%      500.000000
75%      676.250000
max     2095.000000

==================================================
Dataset: pricing_march2021 - Statistics
==================================================
              index           Sku Style Id Catalog Category    TP 2  \
count   1330.000000          1330     1330    1330     1330    1330
unique          NaN          1330      254       9        5      93
top             NaN  Os206_3141_S    Os160     Mix    Kurta  319.95
freq            NaN             1        8     830      820     139
mean     664.500000           NaN      NaN     NaN      NaN     NaN
std      384.082239           NaN      NaN     NaN      NaN     NaN
min        0.000000           NaN      NaN     NaN      NaN     NaN
25%      332.250000           NaN      NaN     NaN      NaN     NaN
50%      664.500000           NaN      NaN     NaN      NaN     NaN
75%      996.750000           NaN      NaN     NaN      NaN     NaN
max     1329.000000           NaN      NaN     NaN      NaN     NaN

            MRP Old  Final MRP Old     Ajio MRP   Amazon MRP  Amazon FBA MRP  \
count   1293.000000    1293.000000  1293.000000  1293.000000     1293.000000
unique          NaN            NaN          NaN          NaN             NaN
top             NaN            NaN          NaN          NaN             NaN
freq            NaN            NaN          NaN          NaN             NaN
mean    2207.972506    2235.176682  2241.264076  2247.789211     2247.789211
std      701.393796     706.136802   707.907756   704.073990      704.073990
min      199.000000     199.000000   199.000000   199.000000      199.000000
25%     1778.000000    1795.000000  1795.000000  1795.000000     1795.000000
50%     2038.000000    2095.000000  2095.000000  2097.000000     2097.000000
75%     2378.000000    2495.000000  2495.000000  2495.000000     2495.000000
max     5997.000000    5997.000000  5997.000000  5997.000000     5997.000000

        Flipkart MRP  Limeroad MRP   Myntra MRP    Paytm MRP  Snapdeal MRP  \
count    1293.000000   1293.000000  1299.000000  1293.000000   1293.000000
unique           NaN           NaN          NaN          NaN           NaN
top              NaN           NaN          NaN          NaN           NaN
freq             NaN           NaN          NaN          NaN           NaN
mean     2243.120224   2242.974826  2232.519207  2238.489134   2239.726566
std       705.308168    701.115822   693.160532   702.819619    703.017190
min       199.000000    199.000000   199.000000   199.000000    199.000000
25%      1795.000000   1795.000000  1795.000000  1795.000000   1795.000000
50%      2097.000000   2095.000000  2097.000000  2095.000000   2095.000000
75%      2495.000000   2495.000000  2495.000000  2495.000000   2495.000000
max      5997.000000   5997.000000  5997.000000  5997.000000   5997.000000

             weight           tp
count   1257.000000  1324.000000
unique          NaN          NaN
top             NaN          NaN
freq            NaN          NaN
mean       0.327605   580.088708
std        0.052121   251.090756
min        0.200000   100.000000
25%        0.300000   415.000000
50%        0.300000   500.000000
75%        0.400000   676.250000
max        0.400000  2095.000000

==================================================
Dataset: expenses - Statistics
==================================================
            index Recived Amount Unnamed: 1     Expance Unnamed: 3
count   17.000000              6          6          15         17
unique        NaN              6          6          15         17
top           NaN     Particular     Amount  Particular     Amount
freq          NaN              1          1           1          1
mean     8.000000            NaN        NaN         NaN        NaN
std      5.049752            NaN        NaN         NaN        NaN
min      0.000000            NaN        NaN         NaN        NaN
25%      4.000000            NaN        NaN         NaN        NaN
50%      8.000000            NaN        NaN         NaN        NaN
75%     12.000000            NaN        NaN         NaN        NaN
max     16.000000            NaN        NaN         NaN        NaN

==================================================
Dataset: warehouse_costs - Statistics
==================================================
           index Shiprocket                 Unnamed: 1 INCREFF
count   50.00000         21                         41      28
unique       NaN         21                         40      27
top          NaN      Heads  •  Measurement is monthly   <0.2%
freq         NaN          1                          2       2
mean    24.50000        NaN                        NaN     NaN
std     14.57738        NaN                        NaN     NaN
min      0.00000        NaN                        NaN     NaN
25%     12.25000        NaN                        NaN     NaN
50%     24.50000        NaN                        NaN     NaN
75%     36.75000        NaN                        NaN     NaN
max     49.00000        NaN                        NaN     NaN

## Missing Values Analysis

In [5]:
for name, df in data_overview.items():
    print(f"\n{'='*50}")
    print(f"Dataset: {name} - Missing Values")
    print(f"{'='*50}")
    missing = df.isnull().sum()
    missing_pct = (df.isnull().sum() / len(df)) * 100
    missing_df = pd.DataFrame({
        'Missing Count': missing,
        'Missing %': missing_pct
    })
    print(missing_df[missing_df['Missing Count'] > 0])

==================================================
Dataset: amazon_sales - Missing Values
==================================================
                  Missing Count  Missing %
Courier Status             6872   5.328164
currency                   7795   6.043807
ship-city                    33   0.025586
ship-state                   33   0.025586
ship-postal-code             33   0.025586
ship-country                 33   0.025586
promotion-ids             49153  38.110487
fulfilled-by              89698  69.546811
Unnamed: 22               49050  38.030626
amount                     7795   6.043807

==================================================
Dataset: international_sales - Missing Values
==================================================
           Missing Count  Missing %
Months                25   0.066788
CUSTOMER            1040   2.778371
Style               1040   2.778371
SKU                 2474   6.609318
Size                1040   2.778371
date               18797  50.216392
rate                1041   2.781043
gross_amt           1041   2.781043
pcs                 1041   2.781043

==================================================
Dataset: inventory - Missing Values
==================================================
            Missing Count  Missing %
SKU Code               83   0.895265
Design No.             36   0.388308
Size                   36   0.388308
Color                  45   0.485385
category               45   0.485385

==================================================
Dataset: pricing_may2022 - Missing Values
==================================================
                Missing Count  Missing %
MRP Old                    37   2.781955
Final MRP Old              37   2.781955
Ajio MRP                   37   2.781955
Amazon MRP                 37   2.781955
Amazon FBA MRP             37   2.781955
Flipkart MRP               37   2.781955
Limeroad MRP               37   2.781955
Myntra MRP                 31   2.330827
Paytm MRP                  37   2.781955
Snapdeal MRP               37   2.781955
weight                     73   5.488722
tp                          6   0.451128

==================================================
Dataset: pricing_march2021 - Missing Values
==================================================
                Missing Count  Missing %
MRP Old                    37   2.781955
Final MRP Old              37   2.781955
Ajio MRP                   37   2.781955
Amazon MRP                 37   2.781955
Amazon FBA MRP             37   2.781955
Flipkart MRP               37   2.781955
Limeroad MRP               37   2.781955
Myntra MRP                 31   2.330827
Paytm MRP                  37   2.781955
Snapdeal MRP               37   2.781955
weight                     73   5.488722
tp                          6   0.451128

==================================================
Dataset: expenses - Missing Values
==================================================
                Missing Count  Missing %
Recived Amount             11  64.705882
Unnamed: 1                 11  64.705882
Expance                     2  11.764706

==================================================
Dataset: warehouse_costs - Missing Values
==================================================
            Missing Count  Missing %
Shiprocket             29       58.0
Unnamed: 1              9       18.0
INCREFF                22       44.0

## Sample Data

In [6]:
for name, df in data_overview.items():
    print(f"\n{'='*50}")
    print(f"Dataset: {name} - Sample Data")
    print(f"{'='*50}")
    print(df.head())

==================================================
Dataset: amazon_sales - Sample Data
==================================================
   index             Order ID                        Status Fulfilment  \
0      0  405-8078784-5731545                     Cancelled   Merchant
1      1  171-9198151-1101146  Shipped - Delivered to Buyer   Merchant
2      2  404-0687676-7273146                       Shipped     Amazon
3      3  403-9615377-8133951                     Cancelled   Merchant
4      4  407-1069790-7240320                       Shipped     Amazon

  Sales Channel  ship-service-level    Style              SKU       Category  \
0      Amazon.in           Standard   SET389   SET389-KR-NP-S            Set
1      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL          kurta
2      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL          kurta
3      Amazon.in           Standard    J0341       J0341-DR-L  Western Dress
4      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL            Top

  Size  ...   ship-state ship-postal-code ship-country  \
0    S  ...  MAHARASHTRA         400081.0           IN
1  3XL  ...    KARNATAKA         560085.0           IN
2   XL  ...  MAHARASHTRA         410210.0           IN
3    L  ...   PUDUCHERRY         605008.0           IN
4  3XL  ...   TAMIL NADU         600073.0           IN

                                       promotion-ids fulfilled-by  \
0                                               None    Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...    Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108         None
3                                               None    Easy Ship
4                                               None         None

   Unnamed: 22       date  amount qty    b2b
0         None 2022-04-30  647.62   0  False
1         None 2022-04-30  406.00   1  False
2         None 2022-04-30  329.00   1   True
3         None 2022-04-30  753.33   0  False
4         None 2022-04-30  574.00   1  False

[5 rows x 24 columns]

==================================================
Dataset: international_sales - Sample Data
==================================================
   index  Months            CUSTOMER    Style             SKU Size       date  \
0      0  Jun-21  REVATHY LOGANATHAN  MEN5004    MEN5004-KR-L    L 2021-06-05
1      1  Jun-21  REVATHY LOGANATHAN  MEN5004   MEN5004-KR-XL   XL 2021-06-05
2      2  Jun-21  REVATHY LOGANATHAN  MEN5004  MEN5004-KR-XXL  XXL 2021-06-05
3      3  Jun-21  REVATHY LOGANATHAN  MEN5009    MEN5009-KR-L    L 2021-06-05
4      4  Jun-21  REVATHY LOGANATHAN  MEN5011    MEN5011-KR-L    L 2021-06-05

     rate  gross_amt  pcs
0  616.56      617.0  1.0
1  616.56      617.0  1.0
2  616.56      617.0  1.0
3  616.56      617.0  1.0
4  616.56      617.0  1.0

==================================================
Dataset: inventory - Sample Data
==================================================
   index       SKU Code Design No. Size Color  category  stock
0      0    AN201-RED-L      AN201    L   Red  LEGGINGS      5
1      1    AN201-RED-M      AN201    M   Red  LEGGINGS      5
2      2    AN201-RED-S      AN201    S   Red  LEGGINGS      3
3      3   AN201-RED-XL      AN201   XL   Red  LEGGINGS      6
4      4  AN201-RED-XXL      AN201  XXL   Red  LEGGINGS      3

==================================================
Dataset: pricing_may2022 - Sample Data
==================================================
   index             Sku    Style Id  Catalog Category  MRP Old  \
0      0    Os206_3141_S  Os206_3141  Moments    Kurta   2178.0
1      1    Os206_3141_M  Os206_3141  Moments    Kurta   2178.0
2      2    Os206_3141_L  Os206_3141  Moments    Kurta   2178.0
3      3   Os206_3141_XL  Os206_3141  Moments    Kurta   2178.0
4      4  Os206_3141_2XL  Os206_3141  Moments    Kurta   2178.0

   Final MRP Old  Ajio MRP  Amazon MRP  Amazon FBA MRP  Flipkart MRP  \
0         2295.0    2295.0      2295.0          2295.0        2295.0
1         2295.0    2295.0      2295.0          2295.0        2295.0
2         2295.0    2295.0      2295.0          2295.0        2295.0
3         2295.0    2295.0      2295.0          2295.0        2295.0
4         2295.0    2295.0      2295.0          2295.0        2295.0

   Limeroad MRP  Myntra MRP  Paytm MRP  Snapdeal MRP  weight     tp
0        2295.0      2295.0     2295.0        2295.0     0.3  538.0
1        2295.0      2295.0     2295.0        2295.0     0.3  538.0
2        2295.0      2295.0     2295.0        2295.0     0.3  538.0
3        2295.0      2295.0     2295.0        2295.0     0.3  538.0
4        2295.0      2295.0     2295.0        2295.0     0.3  538.0

==================================================
Dataset: pricing_march2021 - Sample Data
==================================================
   index             Sku    Style Id  Catalog Category    TP 2  MRP Old  \
0      0    Os206_3141_S  Os206_3141  Moments    Kurta  435.78   2178.0
1      1    Os206_3141_M  Os206_3141  Moments    Kurta  435.78   2178.0
2      2    Os206_3141_L  Os206_3141  Moments    Kurta  435.78   2178.0
3      3   Os206_3141_XL  Os206_3141  Moments    Kurta  435.78   2178.0
4      4  Os206_3141_2XL  Os206_3141  Moments    Kurta  435.78   2178.0

   Final MRP Old  Ajio MRP  Amazon MRP  Amazon FBA MRP  Flipkart MRP  \
0         2295.0    2295.0      2295.0          2295.0        2295.0
1         2295.0    2295.0      2295.0          2295.0        2295.0
2         2295.0    2295.0      2295.0          2295.0        2295.0
3         2295.0    2295.0      2295.0          2295.0        2295.0
4         2295.0    2295.0      2295.0          2295.0        2295.0

   Limeroad MRP  Myntra MRP  Paytm MRP  Snapdeal MRP  weight     tp
0        2295.0      2295.0     2295.0        2295.0     0.3  538.0
1        2295.0      2295.0     2295.0        2295.0     0.3  538.0
2        2295.0      2295.0     2295.0        2295.0     0.3  538.0
3        2295.0      2295.0     2295.0        2295.0     0.3  538.0
4        2295.0      2295.0     2295.0        2295.0     0.3  538.0

==================================================
Dataset: expenses - Sample Data
==================================================
   index Recived Amount Unnamed: 1  \
0      0     Particular     Amount
1      1       06-19-22       1000
2      2       06-20-22       1500
3      3       06-22-22        500
4      4       06-23-22       2000

                                             Expance Unnamed: 3
0                                         Particular     Amount
1                                          Large Bag        380
2  Stationary(Soft Pin, Paper pin for Dupatta, Fe...        170
3                                                OLA        839
4                                          Auto Rent        520

==================================================
Dataset: warehouse_costs - Sample Data
==================================================
   index                        Shiprocket        Unnamed: 1  \
0      0                             Heads  Price (Per Unit)
1      1     Inbound (Fresh Stock and RTO)             ₹4.00
2      2                          Outbound             ₹7.00
3      3                   Storage Fee/Cft            ₹25.00
4      4  Customer Return with Detailed QC             ₹6.00

             INCREFF
0   Price (Per Unit)
1                  4
2                 11
3  Rs 0.15/- Per Day
4               15.5

## Data Quality Report

In [7]:
print("\n" + "="*50)
print("DATA QUALITY REPORT")
print("="*50)

for name, df in data_overview.items():
    print(f"\n{name.upper()}:")
    print(f"  - Total rows: {len(df):,}")
    print(f"  - Total columns: {len(df.columns)}")
    print(f"  - Duplicate rows: {df.duplicated().sum():,}")
    print(f"  - Missing values: {df.isnull().sum().sum():,}")
    print(f"  - Missing %: {(df.isnull().sum().sum() / (len(df) * len(df.columns)) * 100):.2f}%")

==================================================
DATA QUALITY REPORT
==================================================

AMAZON_SALES:
  - Total rows: 128,975
  - Total columns: 24
  - Duplicate rows: 0
  - Missing values: 210,495
  - Missing %: 6.80%

INTERNATIONAL_SALES:
  - Total rows: 37,432
  - Total columns: 10
  - Duplicate rows: 0
  - Missing values: 27,539
  - Missing %: 7.36%

INVENTORY:
  - Total rows: 9,271
  - Total columns: 7
  - Duplicate rows: 0
  - Missing values: 245
  - Missing %: 0.38%

PRICING_MAY2022:
  - Total rows: 1,330
  - Total columns: 17
  - Duplicate rows: 0
  - Missing values: 443
  - Missing %: 1.96%

PRICING_MARCH2021:
  - Total rows: 1,330
  - Total columns: 18
  - Duplicate rows: 0
  - Missing values: 443
  - Missing %: 1.85%

EXPENSES:
  - Total rows: 17
  - Total columns: 5
  - Duplicate rows: 0
  - Missing values: 24
  - Missing %: 28.24%

WAREHOUSE_COSTS:
  - Total rows: 50
  - Total columns: 4
  - Duplicate rows: 0
  - Missing values: 60
  - Missing %: 30.00%